<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e943490-446f-4d8f-aae0-9354681c24ee" Alias="Cashpoint" Level="2">
  <Info>
    <Parent Key="55b0c6bc-f71d-4ce1-a75a-4ee05a043bb4">Cashpoint</Parent>
    <Path>/Cashpoint/Cashpoint</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T20:40:59</CreateDate>
    <NodeName Default="Cashpoint" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sy0ji1tp/cashpoint.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>