<?xml version="1.0" encoding="utf-8"?>
<Media Key="55b0c6bc-f71d-4ce1-a75a-4ee05a043bb4" Alias="Cashpoint" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cashpoint</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-02T20:40:56</CreateDate>
    <NodeName Default="Cashpoint" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>