<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffe11cc5-83f3-40dc-b8b2-ac1fe836b287" Alias="Casino dk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CasinoDk</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-02T20:42:35</CreateDate>
    <NodeName Default="Casino dk" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>