<?xml version="1.0" encoding="utf-8"?>
<Media Key="795eaffb-e6e8-49af-a664-eb4a2aa9f7f7" Alias="Comeon Logo" Level="2">
  <Info>
    <Parent Key="761e1e49-7118-47c6-92d3-541db49aeb5d">ComeOn</Parent>
    <Path>/ComeOn/ComeonLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T20:40:25</CreateDate>
    <NodeName Default="Comeon Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5wxf24pi/comeon-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>