<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a97e93d-ee69-438a-bbf3-f1fbbd8a4bb7" Alias="Leo vegas" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeoVegas</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-02T20:38:24</CreateDate>
    <NodeName Default="Leo vegas" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>