<?xml version="1.0" encoding="utf-8"?>
<Media Key="8eb2bce2-e0fb-4537-a08a-b48cc251abb6" Alias="Leovegas" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Leovegas</Path>
    <Trashed Parent="9a97e93d-ee69-438a-bbf3-f1fbbd8a4bb7">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T20:39:00</CreateDate>
    <NodeName Default="Leovegas" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2s4lfdx1/leovegas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>