<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcd41815-a020-4c8f-827b-a7b1026b2259" Alias="Leovegas" Level="2">
  <Info>
    <Parent Key="9a97e93d-ee69-438a-bbf3-f1fbbd8a4bb7">Leo vegas</Parent>
    <Path>/LeoVegas/Leovegas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T20:43:53</CreateDate>
    <NodeName Default="Leovegas" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cmmnj5ba/leovegas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>