<?xml version="1.0" encoding="utf-8"?>
<Media Key="8880eb94-3343-4618-9daf-8ff84010c641" Alias="Mrgreen" Level="2">
  <Info>
    <Parent Key="b55e3161-4a6a-43e9-b759-252b1da5050e">MrGreen</Parent>
    <Path>/MrGreen/Mrgreen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-12T21:04:47</CreateDate>
    <NodeName Default="Mrgreen" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/slvjbccd/mrgreen.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>