<?xml version="1.0" encoding="utf-8"?>
<Media Key="1aecae18-b563-485f-95b7-67e2293dca28" Alias="OneCasino" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OneCasino</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-03-12T21:05:56</CreateDate>
    <NodeName Default="OneCasino" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>