<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a5bf1f-c8c0-4403-b093-264e89cc82f6" Alias="Onecasino" Level="2">
  <Info>
    <Parent Key="1aecae18-b563-485f-95b7-67e2293dca28">OneCasino</Parent>
    <Path>/OneCasino/Onecasino</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-12T21:06:01</CreateDate>
    <NodeName Default="Onecasino" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dg5llcga/onecasino.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>