<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce72d0bd-42da-49e3-8751-523054b409dd" Alias="Pexels Miguel Á Padriñán 255379" Level="2">
  <Info>
    <Parent Key="6193c9f1-fe24-4374-a6de-4d146387bfa9">Topbanner</Parent>
    <Path>/Topbanner/PexelsMiguelAPadrinan255379</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-26T08:26:45</CreateDate>
    <NodeName Default="Pexels Miguel Á Padriñán 255379" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xpihftw0/pexels-miguel-á-padriñán-255379.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>