<?xml version="1.0" encoding="utf-8"?>
<Media Key="a25d10b6-f9be-474e-a98d-29caf349dde5" Alias="Sb Iiot Webpreroll Withaudio" Level="2">
  <Info>
    <Parent Key="6193c9f1-fe24-4374-a6de-4d146387bfa9">Topbanner</Parent>
    <Path>/Topbanner/SbIiotWebprerollWithaudio</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-04-23T13:47:04</CreateDate>
    <NodeName Default="Sb Iiot Webpreroll Withaudio" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tyif1iv4/sb_iiot_webpreroll_withaudio.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>