<?xml version="1.0" encoding="utf-8"?>
<Media Key="6193c9f1-fe24-4374-a6de-4d146387bfa9" Alias="Topbanner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Topbanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-14T12:44:08</CreateDate>
    <NodeName Default="Topbanner" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>