<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c8c090a-948e-4383-bc4f-da05abd48107" Alias="Vecteezy Poker Game Casiono Online Web Background Template Vector 10813164" Level="2">
  <Info>
    <Parent Key="6193c9f1-fe24-4374-a6de-4d146387bfa9">Topbanner</Parent>
    <Path>/Topbanner/VecteezyPokerGameCasionoOnlineWebBackgroundTemplateVector10813164</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-14T12:44:13</CreateDate>
    <NodeName Default="Vecteezy Poker Game Casiono Online Web Background Template Vector 10813164" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bqejyleo/vecteezy_poker-game-casiono-online-web-background-template-vector_10813164.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>