<?xml version="1.0" encoding="utf-8"?>
<Content Key="41e327bd-5be0-4816-83df-c38660bfb1aa" Alias="Cashpoint" Level="3">
  <Info>
    <Parent Key="920cb2dc-6034-4a80-93f7-84d13809a30a">Casino deals</Parent>
    <Path>/Site/CasinoDeals/Cashpoint</Path>
    <Trashed>false</Trashed>
    <ContentType>singleCasinoDeal</ContentType>
    <CreateDate>2023-04-26T08:22:37</CreateDate>
    <NodeName Default="Cashpoint" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="990961c1-83c1-4bdd-9062-dd1961e2cb92">SingleCasinoDeal</Template>
  </Info>
  <Properties>
    <bgimg>
      <Value><![CDATA[]]></Value>
    </bgimg>
    <category>
      <Value><![CDATA[[
  "Med indbetaling"
]]]></Value>
    </category>
    <cta>
      <Value><![CDATA[Ingen]]></Value>
    </cta>
    <ctaBgColor>
      <Value><![CDATA[{
  "value": "2986cc",
  "label": "2986cc",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </ctaBgColor>
    <description>
      <Value><![CDATA[<p style="text-align: center;">Få op til 5 X 100kr. Freebets</p>]]></Value>
    </description>
    <img>
      <Value><![CDATA[[
  {
    "key": "9ad521de-b864-4c17-a8a7-9ee85508cc42",
    "mediaKey": "8880eb94-3343-4618-9daf-8ff84010c641"
  }
]]]></Value>
    </img>
    <link>
      <Value><![CDATA[[
  {
    "name": "Opret konto her",
    "url": "http://bit.ly/410YXTw"
  }
]]]></Value>
    </link>
    <stopGamesDescription>
      <Value><![CDATA[<p>18+ | Regler og vilkår gælder i Spil ansvarligt<br />Selvudelukkelse via <a href="/umbraco/ROFUS.nu" title="ROFUS.nu">ROFUS.nu</a> | <a href="/umbraco/StopSpillet.dk" title="StopSpillet.dk">StopSpillet.dk</a></p>]]></Value>
    </stopGamesDescription>
    <title>
      <Value><![CDATA[Cashpoint]]></Value>
    </title>
  </Properties>
</Content>