<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e42cc04-760b-43a2-9c64-7d025dd269f4" Alias="Forside" Level="2">
  <Info>
    <Parent Key="1cba3f05-ce55-4abe-a5b9-2d0efb2144b7">Site</Parent>
    <Path>/Site/Forside</Path>
    <Trashed>false</Trashed>
    <ContentType>frontpage</ContentType>
    <CreateDate>2023-03-12T20:34:46</CreateDate>
    <NodeName Default="Forside" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e787cf65-5dfc-4bd9-9c0b-166852c6c9cc">Forside</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c29ef9c6f8804cc6b1a6a56a21043c4c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "594433f3-4350-42e0-bc58-6cd6062e97f6",
      "udi": "umb://element/c29ef9c6f8804cc6b1a6a56a21043c4c",
      "mainColumn": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/f15cc00a01e04f8d8cac712c07a233e8\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"40c7f281-4d52-4df0-87ac-c54125fd587b\",\r\n      \"udi\": \"umb://element/f15cc00a01e04f8d8cac712c07a233e8\",\r\n      \"title\": \"Titel\",\r\n      \"description\": \"Beskrivelse\",\r\n      \"chooseCasinoDeals\": \"umb://document/980f0efa272c4af1955a60c435ef3d33\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockGrid>
    <topbanner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1a7f26fdafb3456ba294dc595230fa36"
      },
      {
        "contentUdi": "umb://element/53043b94f84c45fd80bba52fdefa200d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3cfb3b41-df1a-483c-9368-208f8bf64aab",
      "udi": "umb://element/1a7f26fdafb3456ba294dc595230fa36",
      "image": "[\r\n  {\r\n    \"key\": \"ead360d7-704c-4d6b-a9e6-ab7286296f04\",\r\n    \"mediaKey\": \"2c8c090a-948e-4383-bc4f-da05abd48107\"\r\n  }\r\n]",
      "header": "Gratis casino deals",
      "description": "#REKLAME #FjernAdblock",
      "overlay": "1"
    },
    {
      "contentTypeKey": "3cfb3b41-df1a-483c-9368-208f8bf64aab",
      "udi": "umb://element/53043b94f84c45fd80bba52fdefa200d",
      "image": "[\r\n  {\r\n    \"key\": \"ead360d7-704c-4d6b-a9e6-ab7286296f04\",\r\n    \"mediaKey\": \"2c8c090a-948e-4383-bc4f-da05abd48107\"\r\n  }\r\n]",
      "header": "Gratis casino deals 2",
      "description": "#REKLAME #FjernAdblock 2",
      "overlay": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </topbanner>
  </Properties>
</Content>