<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3c9fb6c-e429-4f61-a942-6bedd06f9cbe" Alias="OneCasino" Level="3">
  <Info>
    <Parent Key="920cb2dc-6034-4a80-93f7-84d13809a30a">Casino deals</Parent>
    <Path>/Site/CasinoDeals/OneCasino</Path>
    <Trashed>false</Trashed>
    <ContentType>singleCasinoDeal</ContentType>
    <CreateDate>2023-03-12T21:04:51</CreateDate>
    <NodeName Default="OneCasino" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="990961c1-83c1-4bdd-9062-dd1961e2cb92">SingleCasinoDeal</Template>
  </Info>
  <Properties>
    <bgimg>
      <Value><![CDATA[[
  {
    "key": "7e472180-4951-4146-8a4a-2979c8b23273",
    "mediaKey": "ce72d0bd-42da-49e3-8751-523054b409dd"
  }
]]]></Value>
    </bgimg>
    <category>
      <Value><![CDATA[[
  "Gratis deals"
]]]></Value>
    </category>
    <cta>
      <Value><![CDATA[Ugens deal]]></Value>
    </cta>
    <ctaBgColor>
      <Value><![CDATA[{
  "value": "2986cc",
  "label": "2986cc",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </ctaBgColor>
    <description>
      <Value><![CDATA[<p style="text-align: center;"><strong>Opret en bruger og få 50 Gratis Spin på Book of Dead</strong><br />+100% indbetalingsbonus op til 200 kr.</p>]]></Value>
    </description>
    <img>
      <Value><![CDATA[[
  {
    "key": "9ad521de-b864-4c17-a8a7-9ee85508cc42",
    "mediaKey": "8880eb94-3343-4618-9daf-8ff84010c641"
  }
]]]></Value>
    </img>
    <link>
      <Value><![CDATA[[
  {
    "name": "Opret konto her",
    "url": "https://finch.go2cloud.org/aff_c?offer_id=73&aff_id=1622"
  }
]]]></Value>
    </link>
    <stopGamesDescription>
      <Value><![CDATA[<p>18+ | Regler og vilkår gælder i Spil ansvarligt<br />Selvudelukkelse via <a href="/umbraco/ROFUS.nu" title="ROFUS.nu">ROFUS.nu</a> | <a href="/umbraco/StopSpillet.dk" title="StopSpillet.dk">StopSpillet.dk</a></p>]]></Value>
    </stopGamesDescription>
    <title>
      <Value><![CDATA[OneCasino]]></Value>
    </title>
  </Properties>
</Content>