<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cba3f05-ce55-4abe-a5b9-2d0efb2144b7" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-03-12T19:59:26</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerDescription>
      <Value><![CDATA[<p style="text-align: center;">18+ | Regler og vilkår gælder | Spil ansvarligt | selvudelukkelse via <a href="https://www.rofus.nu/" title="ROFUS">ROFUS</a> | <a href="https://www.stopspillet.dk/" title="StopSpillet">StopSpillet</a></p>]]></Value>
    </footerDescription>
    <footerEmail>
      <Value><![CDATA[danielnielseninvest@gmail.com]]></Value>
    </footerEmail>
    <footerNavigationPrimary>
      <Value><![CDATA[]]></Value>
    </footerNavigationPrimary>
    <footerNavigationSecondary>
      <Value><![CDATA[]]></Value>
    </footerNavigationSecondary>
    <footerSecondaryDescription>
      <Value><![CDATA[<p style="text-align: center;"><a href="/{localLink:umb://document/1cba3f05ce554abea5b92d0efb2144b7}" title="Site">D-bet.dk</a> © 2023 All rights served</p>]]></Value>
    </footerSecondaryDescription>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "name": "Facebook",
    "url": "https://www.facebook.com/groups/709847065838970/"
  },
  {
    "name": "Telegram",
    "url": "https://telegram.org/"
  },
  {
    "name": "test",
    "udi": "umb://document/1cba3f05ce554abea5b92d0efb2144b7"
  }
]]]></Value>
    </footerSocialLinks>
    <footerTitle>
      <Value><![CDATA[D-bet.dk]]></Value>
    </footerTitle>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Alle deals",
    "url": "",
    "queryString": "#tilbud"
  },
  {
    "name": "Favorit deals",
    "url": "",
    "queryString": "#favorit"
  },
  {
    "name": "Sikkert spil",
    "url": "",
    "queryString": "#sikkertspil"
  }
]]]></Value>
    </mainNavigation>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pageNotFoundPage>
      <Value><![CDATA[]]></Value>
    </pageNotFoundPage>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <secondaryNavigation>
      <Value><![CDATA[]]></Value>
    </secondaryNavigation>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/920cb2dc60344a8093f784d13809a30a]]></Value>
    </umbracoInternalRedirectId>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>