<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cba3f05-ce55-4abe-a5b9-2d0efb2144b7" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-03-12T19:59:26</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerDescription>
      <Value><![CDATA[<p>18+ | Regler og vilkår gælder | Spil ansvarligt | selvudelukkelse via <a href="https://www.rofus.nu/" title="ROFUS">ROFUS</a> | <a href="https://www.stopspillet.dk/" title="StopSpillet">StopSpillet</a></p>]]></Value>
    </footerDescription>
    <footerEmail>
      <Value><![CDATA[Simon.darwin@live.dk]]></Value>
    </footerEmail>
    <footerNavigationPrimary>
      <Value><![CDATA[]]></Value>
    </footerNavigationPrimary>
    <footerNavigationSecondary>
      <Value><![CDATA[]]></Value>
    </footerNavigationSecondary>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "name": "Telegram",
    "url": "https://telegram.org/"
  }
]]]></Value>
    </footerSocialLinks>
    <footerTitle>
      <Value><![CDATA[D-bets.dk]]></Value>
    </footerTitle>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pageNotFoundPage>
      <Value><![CDATA[]]></Value>
    </pageNotFoundPage>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <secondaryNavigation>
      <Value><![CDATA[]]></Value>
    </secondaryNavigation>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/0e42cc04760b43a29c647d025dd269f4]]></Value>
    </umbracoInternalRedirectId>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>