<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb8dc00c-ab88-4e73-aae2-47af693b42ad" Alias="Test 2" Level="3">
  <Info>
    <Parent Key="920cb2dc-6034-4a80-93f7-84d13809a30a">Casino deals</Parent>
    <Path>/Site/CasinoDeals/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>singleCasinoDeal</ContentType>
    <CreateDate>2023-04-17T19:23:49</CreateDate>
    <NodeName Default="Test 2" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="990961c1-83c1-4bdd-9062-dd1961e2cb92">SingleCasinoDeal</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Med",
  "Med indbetaling"
]]]></Value>
    </category>
    <cta>
      <Value><![CDATA[Ingen]]></Value>
    </cta>
    <ctaBgColor>
      <Value><![CDATA[]]></Value>
    </ctaBgColor>
    <description>
      <Value><![CDATA[<p>Dette er en test 2</p>]]></Value>
    </description>
    <img>
      <Value><![CDATA[[]]]></Value>
    </img>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <stopGamesDescription>
      <Value><![CDATA[<p>18+ | Regler og vilkår gælder i Spil ansvarligt<br />Selvudelukkelse via <a href="/umbraco/ROFUS.nu" title="ROFUS.nu">ROFUS.nu</a> | <a href="/umbraco/StopSpillet.dk" title="StopSpillet.dk">StopSpillet.dk</a></p>]]></Value>
    </stopGamesDescription>
    <title>
      <Value><![CDATA[Test 2]]></Value>
    </title>
  </Properties>
</Content>