<?xml version="1.0" encoding="utf-8"?>
<Content Key="684f3282-aa90-4df1-8e8b-d16f13deb42c" Alias="Test 4" Level="3">
  <Info>
    <Parent Key="920cb2dc-6034-4a80-93f7-84d13809a30a">Casino deals</Parent>
    <Path>/Site/CasinoDeals/Test4</Path>
    <Trashed>false</Trashed>
    <ContentType>singleCasinoDeal</ContentType>
    <CreateDate>2023-04-26T08:23:28</CreateDate>
    <NodeName Default="Test 4" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="990961c1-83c1-4bdd-9062-dd1961e2cb92">SingleCasinoDeal</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[[
  "Gratis deals"
]]]></Value>
    </category>
    <cta>
      <Value><![CDATA[Nyhed]]></Value>
    </cta>
    <ctaBgColor>
      <Value><![CDATA[{
  "value": "2986cc",
  "label": "2986cc",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </ctaBgColor>
    <description>
      <Value><![CDATA[<p style="text-align: center;">Opret en bruger og få 50 Gratis Spin på Book of Dead<br />+100% deposit bonus op til 1000KR<br />(NO STICKY)</p>]]></Value>
    </description>
    <img>
      <Value><![CDATA[[
  {
    "key": "ee407ce9-878a-4756-8448-16f1e49c66cc",
    "mediaKey": "88a5bf1f-c8c0-4403-b093-264e89cc82f6"
  }
]]]></Value>
    </img>
    <link>
      <Value><![CDATA[[
  {
    "name": "Opret konto her",
    "udi": "umb://document/1cba3f05ce554abea5b92d0efb2144b7"
  }
]]]></Value>
    </link>
    <stopGamesDescription>
      <Value><![CDATA[<p>18+ | Regler og vilkår gælder i Spil ansvarligt<br />Selvudelukkelse via <a href="/umbraco/ROFUS.nu" title="ROFUS.nu">ROFUS.nu</a> | <a href="/umbraco/StopSpillet.dk" title="StopSpillet.dk">StopSpillet.dk</a></p>]]></Value>
    </stopGamesDescription>
    <title>
      <Value><![CDATA[One Casino]]></Value>
    </title>
  </Properties>
</Content>