@inherits UmbracoViewPage
@using Umbraco.Cms.Core.Security;
@{
    var site = Model.Root<ContentModels.Site>();
}

<Footer class="bg-black">
    <div class="container mx-auto">
        <p>test</p>
    </div>
</Footer>