<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8dc4b42f-56f7-4a21-96e5-d60b0373bef1" Alias="casinoDeals" Level="2">
  <Info>
    <Name>Casino deals</Name>
    <Icon>icon-dice color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4b8cacb8-acb3-4a8f-8fc2-0f7fdca4699a">blockGridComposition</Composition>
      <Composition Key="7b401308-fb18-4eaf-af09-c0605506d6c6">topbannerComposition</Composition>
    </Compositions>
    <DefaultTemplate>CasinoDeals</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2dc003ac-4c35-4575-b3ab-fcebe745a03d">CasinoDeals</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5f509af6-a61a-4d55-8010-f97d8af9ad0b" SortOrder="0">singleCasinoDeal</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3f53c345-6a82-43b1-bbc8-ab6360c1e4b8</Key>
      <Name>Anchor link tekst</Name>
      <Alias>anchorLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">#Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed47aae4-5e67-4a55-acd9-f6a905f9ab49</Key>
      <Name>Beskrivelse</Name>
      <Alias>description</Alias>
      <Definition>3aa37d64-9da5-4a46-87e0-899f03c8860d</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">#Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0b15df4-0b52-4466-b8b8-9da922db7908</Key>
      <Name>Undertitel</Name>
      <Alias>subtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">#Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b904f4a5-58cc-44e2-b513-fcb7ee8d481d</Key>
      <Name>Titel</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">#Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>36dab929-0a2a-46f9-8556-c49cc459cbec</Key>
      <Caption>#Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>