<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3eb4c3f7-4242-4787-a927-8923c963f931" Alias="contentPage" Level="3">
  <Info>
    <Name>#Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="4b8cacb8-acb3-4a8f-8fc2-0f7fdca4699a">blockGridComposition</Composition>
      <Composition Key="f8af063a-8aed-47b6-adae-556ab2b40288">extraHtmlComposition</Composition>
      <Composition Key="b2e6ce7b-828c-4ee7-9b5e-d21de5fe3dd0">metaComposition</Composition>
      <Composition Key="7b401308-fb18-4eaf-af09-c0605506d6c6">topbannerComposition</Composition>
      <Composition Key="7813bee2-82d1-4bf8-934a-8b10fa4336f5">urlSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd652bee-18ab-4a3f-9177-8e0bae26bf9a">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>