<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83b6243f-274a-4b56-8242-331a399b97d9" Alias="frontpage" Level="2">
  <Info>
    <Name>Forside</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4b8cacb8-acb3-4a8f-8fc2-0f7fdca4699a">blockGridComposition</Composition>
      <Composition Key="7b401308-fb18-4eaf-af09-c0605506d6c6">topbannerComposition</Composition>
    </Compositions>
    <DefaultTemplate>Forside</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e787cf65-5dfc-4bd9-9c0b-166852c6c9cc">Forside</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>