<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d7ff4175-cb69-40c8-bf5a-9914366a7aa1" Alias="htmlSnippetElement" Level="3">
  <Info>
    <Name>#HTML Snippet</Name>
    <Icon>icon-code color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dbe53a75-1690-43ad-8646-81e3fe0750ba</Key>
      <Name>#HTML</Name>
      <Alias>html</Alias>
      <Definition>2904fdbf-9a23-457d-84ee-7457670cd627</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="htmlSnippet">#HTML Snippet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c014a4f-6edb-4216-a5c2-a3029b7d4075</Key>
      <Name>#Place</Name>
      <Alias>place</Alias>
      <Definition>cb4bb3d2-505a-4c96-b0b8-e7087ad37ff4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="htmlSnippet">#HTML Snippet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e0337e10-81b2-48ea-8354-3ef776feef9c</Key>
      <Caption>#HTML Snippet</Caption>
      <Alias>htmlSnippet</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>