<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="527f1e4a-574e-4d26-a584-81bd124de4db" Alias="htmlSnippetBlock" Level="2">
  <Info>
    <Name>#HTML Snippet</Name>
    <Icon>icon-code color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>294eaa31-7939-45d5-83bb-83192815ce50</Key>
      <Name>#HTML</Name>
      <Alias>html</Alias>
      <Definition>2904fdbf-9a23-457d-84ee-7457670cd627</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">#Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1a736a9d-90c5-42a7-8ce2-56ec808c16ff</Key>
      <Caption>#Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>