<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5901058-cdba-4dc0-bf4b-9dca925dd872" Alias="searchResultsPage" Level="3">
  <Info>
    <Name>#Search Results Page</Name>
    <Icon>icon-search</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="f8af063a-8aed-47b6-adae-556ab2b40288">extraHtmlComposition</Composition>
      <Composition Key="b2e6ce7b-828c-4ee7-9b5e-d21de5fe3dd0">metaComposition</Composition>
      <Composition Key="7813bee2-82d1-4bf8-934a-8b10fa4336f5">urlSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>SearchResultsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="975695d3-ad89-442c-915c-88a9dd10d93c">SearchResultsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>