<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73ff9c91-030a-472d-b2bb-d4e8f3e705d6" Alias="site" Level="1">
  <Info>
    <Name>#Site</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="46110455-bedf-42bd-8ddc-228a3a7e71de">footerComposition</Composition>
      <Composition Key="b2e6ce7b-828c-4ee7-9b5e-d21de5fe3dd0">metaComposition</Composition>
      <Composition Key="7813bee2-82d1-4bf8-934a-8b10fa4336f5">urlSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3eb4c3f7-4242-4787-a927-8923c963f931" SortOrder="0">contentPage</ContentType>
    <ContentType Key="83b6243f-274a-4b56-8242-331a399b97d9" SortOrder="1">frontpage</ContentType>
    <ContentType Key="8dc4b42f-56f7-4a21-96e5-d60b0373bef1" SortOrder="2">casinoDeals</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0d59adf2-fc99-45ef-ae29-78aad1509725</Key>
      <Name>#Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/navigation">#Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89f6eb09-4e6e-4864-9eff-14dca8913605</Key>
      <Name>#Page Not Found Page</Name>
      <Alias>pageNotFoundPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Page Not Found Page (desc)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">#Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19d55305-cb14-403a-884d-b4cfde14eddc</Key>
      <Name>#Secondary Navigation</Name>
      <Alias>secondaryNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/navigation">#Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07effaf6-2484-4b8a-8997-ffc5eb4d1385</Key>
      <Name>#Front Page</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Front Page (desc)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">#Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6631904a-a1e8-4531-9758-4e72a32ea8f1</Key>
      <Caption>#Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>bdf93811-47aa-4526-88fd-84cd943c126f</Key>
      <Caption>#Navigation</Caption>
      <Alias>content/navigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>