<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b401308-fb18-4eaf-af09-c0605506d6c6" Alias="topbannerComposition" Level="2">
  <Info>
    <Name>Topbanner Composition</Name>
    <Icon>icon-bills color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>23a52e70-478d-4b06-8377-6a8b66611876</Key>
      <Name>Topbanner</Name>
      <Alias>topbanner</Alias>
      <Definition>1279c52b-fb38-4a04-a5d0-bdb50c70023e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="topbanner">Topbanner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1a5fbec5-41f5-4035-95da-f84c3cbc6ecb</Key>
      <Caption>Topbanner</Caption>
      <Alias>topbanner</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>