@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        font-family: Karla, system-ui, sans-serif;
    }
}

.overlay::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(0,0,0, 0.4);
}

html {
    scroll-behavior: smooth;
}

.footerrte {
    a {
        color: #2986cc;
    }
}