<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65297b46-5d68-402f-9a7f-f244084d81b0" Alias="Block Grid" Level="1">
  <Info>
    <Name>Block Grid</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "594433f3-4350-42e0-bc58-6cd6062e97f6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": true,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/Ecreo.Essentials.Frontend.BlockGrid/FullWidth.svg",
      "view": "~/App_Plugins/Ecreo.Essentials.Frontend.BlockGrid/RowView.html"
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>