<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8fa394e-7419-409e-b4f0-f7a28d2d4ef4" Alias="Casino deals block - Vælg casino deals - Multinode Treepicker" Level="1">
  <Info>
    <Name>Casino deals block - Vælg casino deals - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/920cb2dc60344a8093f784d13809a30a",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>