<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c37b3875-0a35-46e8-a160-1305c71d1004" Alias="Casino deal element - CTA - Radio button list" Level="1">
  <Info>
    <Name>Casino deal element - CTA - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Ingen"
    },
    {
      "id": 3,
      "value": "Nyhed"
    },
    {
      "id": 5,
      "value": "Ugens deal"
    }
  ]
}]]></Config>
</DataType>