<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1046cff8-f70e-45bb-a31c-53cfef5eeb1a" Alias="Casino deals block - Skjul element - Toggle" Level="1">
  <Info>
    <Name>Casino deals block - Skjul element - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>