<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae26941f-3e56-43bc-9a71-be46d17343f6" Alias="#Footer - #Sekunder beskrivelse - Rich Text Editor" Level="1">
  <Info>
    <Name>#Footer - #Sekunder beskrivelse - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "aligncenter",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>