<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2904fdbf-9a23-457d-84ee-7457670cd627" Alias="Html Code Editor" Level="1">
  <Info>
    <Name>Html Code Editor</Name>
    <EditorAlias>Umbraco.Community.Contentment.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "mode": "razor",
  "theme": "chrome",
  "fontSize": "small",
  "useWrapMode": "0",
  "minLines": 12,
  "maxLines": 30
}]]></Config>
</DataType>