<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb4bb3d2-505a-4c96-b0b8-e7087ad37ff4" Alias="HTML snippet - Placering - [Contentment] Data List" Level="1">
  <Info>
    <Name>HTML snippet - Placering - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-hat color-black",
            "name": "Efter &lt;head&gt;",
            "value": "headStart",
            "description": "I begyndelsen af <head> tagget"
          },
          {
            "icon": "icon-user color-black",
            "name": "Før &lt;/head&gt;",
            "value": "headEnd",
            "description": "I slutningen af <head> tagget"
          },
          {
            "icon": "icon-t-shirt color-black",
            "name": "Efter &lt;body&gt;",
            "value": "bodyStart",
            "description": "I begyndelsen af <body> tagget"
          },
          {
            "icon": "icon-shoe color-black",
            "name": "Før &lt;/body&gt;",
            "value": "",
            "description": "I slutningen af <body> tagget"
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "1",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>