<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67e5175e-6fd8-4d64-b2a4-5333ac8bf3b9" Alias="HTML snippets - Nested Content" Level="1">
  <Info>
    <Name>HTML snippets - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{ place == 'headStart' ? 'Efter <head>' : place == 'headEnd' ? 'Før </head>' : place == 'bodyStart' ? 'Efter <body>' : 'Før </body>' }}",
      "ncAlias": "htmlSnippetElement",
      "ncTabAlias": "HTML snippet"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>