<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1ff0204-2cc1-4cc8-9482-31a41d8425e6" Alias="#Meta - #Description - Textarea" Level="1">
  <Info>
    <Name>#Meta - #Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 3
}]]></Config>
</DataType>