<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd637372-37fc-4f49-b6df-966dad8cbff6" Alias="Navigation Group - Nested Content" Level="1">
  <Info>
    <Name>Navigation Group - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{ (mainLink.length > 0 ? mainLink[0].name : 'No header') + ': ' + subLinks.length + ' links' }}",
      "ncAlias": "navigationGroupElement",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>