<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ad68afe-48a2-49f1-a3aa-4f61efe483f5" Alias="Rich Text Editor (default)" Level="1">
  <Info>
    <Name>Rich Text Editor (default)</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmacro",
      "table"
    ],
    "stylesheets": [
      "/css/RTE styles.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": true,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>