<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0220b202-f2cf-4e24-b8c8-02caa511517b" Alias="Robots meta - [Contentment] Data List" Level="1">
  <Info>
    <Name>Robots meta - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-block color-black",
            "name": "Indeksér ikke denne side, og følg ikke links",
            "value": "noindex,nofollow,noodp",
            "description": "Tillader hverken indeksering af siden, eller at følge links på siden"
          },
          {
            "icon": "icon-out color-black",
            "name": "Indeksér ikke denne side, men følg links",
            "value": "noindex,follow,noodp",
            "description": "Tillader ikke indeksering af denne side, men tillader at følge links på siden"
          },
          {
            "icon": "icon-inbox color-black",
            "name": "Indeksér denne side, men følg ikke links",
            "value": "index,nofollow,noodp",
            "description": "Tillader indeksering af denne side, men ikke at følge links"
          },
          {
            "icon": "icon-thumb-up color-black",
            "name": "Indeksér denne side, og følg links",
            "value": "",
            "description": "Tillader indeksering af denne side, samt at følge links. (standard)"
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "1",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>