<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cea51220-139e-4210-ae26-6faab30e66b2" Alias="#Site - Sekundær beskrivelse - Rich Text Editor" Level="1">
  <Info>
    <Name>#Site - Sekundær beskrivelse - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "aligncenter"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>