<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0552c4af-815c-46a5-9d0c-40ad408bebc6" Alias="#Topbanner with image - Overlay - Toggle" Level="1">
  <Info>
    <Name>#Topbanner with image - Overlay - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>