<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13cf3fad-705b-4c1f-b854-2dcfd3537128" Alias="#Topbanner with image - Tekst farve - Color Picker" Level="1">
  <Info>
    <Name>#Topbanner with image - Tekst farve - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>