<?xml version="1.0" encoding="utf-8"?>
<DataType Key="deb24d9e-ec23-4cea-9eaa-d54fd94872e9" Alias="Two columns block - En kolonne - Toggle" Level="1">
  <Info>
    <Name>Two columns block - En kolonne - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>