<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0ab0445-3819-47cb-a38b-d67cb6eabe65" Alias="Two columns block - Overlay - Toggle" Level="1">
  <Info>
    <Name>Two columns block - Overlay - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>