<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc8a6179-bc1a-47cd-b2a0-a259e486b27c" Alias="Two columns block - Skjul element - Toggle" Level="1">
  <Info>
    <Name>Two columns block - Skjul element - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>