<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0820367-9e95-44ea-a96d-4739c69dbd18" Alias="Two columns block - Tekst venstre - Toggle" Level="1">
  <Info>
    <Name>Two columns block - Tekst venstre - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>